<?xml version="1.0"?>
<robot name="pallet">
 
    <link name="base_link">
        <visual>   <geometry> <mesh filename="pallet1.dae"/> </geometry> </visual>
        <collision><geometry> <mesh filename="pallet1.dae"/> </geometry> </collision>

        <visual>   <geometry> <mesh filename="pallet2.dae"/> </geometry> </visual>
        <collision><geometry> <mesh filename="pallet2.dae"/> </geometry> </collision>

        <visual>   <geometry> <mesh filename="pallet3.dae"/> </geometry> </visual>
        <collision><geometry> <mesh filename="pallet3.dae"/> </geometry> </collision>

        <visual>   <geometry> <mesh filename="pallet4.dae"/> </geometry> </visual>
        <collision><geometry> <mesh filename="pallet4.dae"/> </geometry> </collision>

        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="5.0"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="0.5"/>
        </inertial>

 </link>
 
</robot>