<?xml version="1.0"?>
<robot name="pallet_rack">

  <material name="rack_blue"><color rgba="0.0 0.2 0.6 1.0"/></material>
  <material name="rack_orange"><color rgba="1.0 0.4 0.0 1.0"/></material>

  <link name="rack_base">
    
    <inertial>
      <mass value="100.0"/>
      <origin xyz="0 0 0.1" rpy="0 0 0"/>
      <inertia ixx="45.0" ixy="0.0" ixz="0.0" iyy="45.0" iyz="0.0" izz="5.0"/>
    </inertial>

    <visual><origin xyz="0.62 0.62 1.21" rpy="0 0 0"/><geometry><box size="0.06 0.06 2.5"/></geometry><material name="rack_blue"/></visual>
    <collision><origin xyz="0.62 0.62 1.21" rpy="0 0 0"/><geometry><box size="0.06 0.06 2.5"/></geometry></collision>

    <visual><origin xyz="0.62 -0.62 1.21" rpy="0 0 0"/><geometry><box size="0.06 0.06 2.5"/></geometry><material name="rack_blue"/></visual>
    <collision><origin xyz="0.62 -0.62 1.21" rpy="0 0 0"/><geometry><box size="0.06 0.06 2.5"/></geometry></collision>

    <visual><origin xyz="-0.62 0.62 1.21" rpy="0 0 0"/><geometry><box size="0.06 0.06 2.5"/></geometry><material name="rack_blue"/></visual>
    <collision><origin xyz="-0.62 0.62 1.21" rpy="0 0 0"/><geometry><box size="0.06 0.06 2.5"/></geometry></collision>

    <visual><origin xyz="-0.62 -0.62 1.21" rpy="0 0 0"/><geometry><box size="0.06 0.06 2.5"/></geometry><material name="rack_blue"/></visual>
    <collision><origin xyz="-0.62 -0.62 1.21" rpy="0 0 0"/><geometry><box size="0.06 0.06 2.5"/></geometry></collision>

    <visual><origin xyz="0 0 0.40" rpy="0 0 0"/><geometry><box size="1.26 1.26 0.04"/></geometry><material name="rack_orange"/></visual>
    <collision><origin xyz="0 0 0.40" rpy="0 0 0"/><geometry><box size="1.26 1.26 0.04"/></geometry></collision>

    <visual><origin xyz="0 0 1.15" rpy="0 0 0"/><geometry><box size="1.26 1.26 0.04"/></geometry><material name="rack_orange"/></visual>
    <collision><origin xyz="0 0 1.15" rpy="0 0 0"/><geometry><box size="1.26 1.26 0.04"/></geometry></collision>

    <visual><origin xyz="0 0 2.05" rpy="0 0 0"/><geometry><box size="1.26 1.26 0.04"/></geometry><material name="rack_orange"/></visual>
    <collision><origin xyz="0 0 2.05" rpy="0 0 0"/><geometry><box size="1.26 1.26 0.04"/></geometry></collision>
  </link>
</robot>