<?xml version="1.0"?>
<robot name="pallet_rack">

  <material name="rack_blue"><color rgba="0.0 0.2 0.6 1.0"/></material>
  <material name="rack_orange"><color rgba="1.0 0.4 0.0 1.0"/></material>

  <link name="rack_base">
    
    <inertial>
      <mass value="100.0"/>
      <origin xyz="0 0 0.1" rpy="0 0 0"/>
      <inertia ixx="45.0" ixy="0.0" ixz="0.0" iyy="45.0" iyz="0.0" izz="5.0"/>
    </inertial>

    <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="desk.dae"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="desk.dae"/></geometry></collision>

    <visual><origin xyz="0.77 0 -0.1" rpy="0 0 0"/><geometry><mesh filename="desk.dae"/></geometry></visual>
    <collision><origin xyz="0.77 0 -0.1" rpy="0 0 0"/><geometry><mesh filename="desk.dae"/></geometry></collision>

    <visual><origin xyz="-0.77 0 -0.1" rpy="0 0 0"/><geometry><mesh filename="desk.dae"/></geometry></visual>
    <collision><origin xyz="-0.77 0 -0.1" rpy="0 0 0"/><geometry><mesh filename="desk.dae"/></geometry></collision>

    <visual><origin xyz="0 0.77 -0.1" rpy="0 0 0"/><geometry><mesh filename="desk.dae"/></geometry></visual>
    <collision><origin xyz="0 0.77 -0.1" rpy="0 0 0"/><geometry><mesh filename="desk.dae"/></geometry></collision>

    <visual><origin xyz="0 -0.77 -0.1" rpy="0 0 0"/><geometry><mesh filename="desk.dae"/></geometry></visual>
    <collision><origin xyz="0 -0.77 -0.1" rpy="0 0 0"/><geometry><mesh filename="desk.dae"/></geometry></collision>

  </link>
</robot>