<?xml version="1.0"?>
<robot name="pallet_rack">

  <link name="rack_base">
    
    <inertial>
      <mass value="0.5"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>

    <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="wally.dae"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="wally.dae"/></geometry></collision>

  </link>
</robot>