<?xml version="1.0"?>
<robot name="tote">

  <link name="base_footprint"/>

  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="base_link">
  </link>

  <joint name="mast_joint" type="fixed">
    <parent link="base_link"/>
    <child link="mast_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="mast_link">

    <visual> <geometry> <mesh filename="mast/mast_beam_up.dae"/> </geometry> </visual>
    <visual> <geometry> <mesh filename="mast/mast_beam_left.dae"/> </geometry> </visual>
    <visual> <geometry> <mesh filename="mast/mast_beam_right.dae"/> </geometry> </visual>    

    <visual> <origin xyz="0 0 0.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_base.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 0.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_back.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 0.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_left.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 0.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_right.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 0.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_base.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 0.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_left.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 0.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_right.dae"/> </geometry> </visual>        

    <visual> <origin xyz="0 0 0.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_base.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 0.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_back.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 0.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_left.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 0.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_right.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 0.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_base.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 0.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_left.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 0.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_right.dae"/> </geometry> </visual>        

    <visual> <origin xyz="0 0 1.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_base.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 1.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_back.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 1.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_left.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 1.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_right.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 1.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_base.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 1.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_left.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 1.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_right.dae"/> </geometry> </visual>        

    <visual> <origin xyz="0 0 1.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_base.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 1.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_back.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 1.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_left.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 1.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_right.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 1.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_base.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 1.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_left.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 1.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_right.dae"/> </geometry> </visual>        

    <visual> <origin xyz="0 0 2.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_base.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 2.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_back.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 2.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_left.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 2.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_right.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 2.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_base.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 2.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_left.dae"/> </geometry> </visual>    
    <visual> <origin xyz="0 0 2.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_right.dae"/> </geometry> </visual>

    <collision> <geometry> <mesh filename="mast/mast_beam_up.dae"/> </geometry> </collision>
    <collision> <geometry> <mesh filename="mast/mast_beam_left.dae"/> </geometry> </collision>
    <collision> <geometry> <mesh filename="mast/mast_beam_right.dae"/> </geometry> </collision>

    <collision> <origin xyz="0 0 0.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_base.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 0.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_back.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 0.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_left.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 0.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_right.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 0.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_base.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 0.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_left.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 0.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_right.dae"/> </geometry> </collision>

    <collision> <origin xyz="0 0 0.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_base.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 0.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_back.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 0.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_left.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 0.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_right.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 0.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_base.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 0.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_left.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 0.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_right.dae"/> </geometry> </collision>

    <collision> <origin xyz="0 0 1.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_base.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 1.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_back.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 1.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_left.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 1.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_right.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 1.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_base.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 1.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_left.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 1.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_right.dae"/> </geometry> </collision>

    <collision> <origin xyz="0 0 1.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_base.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 1.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_back.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 1.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_left.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 1.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_right.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 1.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_base.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 1.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_left.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 1.5" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_right.dae"/> </geometry> </collision>

    <collision> <origin xyz="0 0 2.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_base.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 2.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_back.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 2.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_left.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 2.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_right.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 2.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_base.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 2.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_left.dae"/> </geometry> </collision>
    <collision> <origin xyz="0 0 2.0" rpy="0 0 0"/> <geometry> <mesh filename="mast/mast_tray_support_right.dae"/> </geometry> </collision>

    <inertial>
      <mass value="200.0"/> 
      <origin xyz="0 0 0.3" rpy="0 0 0"/>
      <inertia ixx="20.0" ixy="0.0" ixz="0.0" iyy="20.0" iyz="0.0" izz="5.0"/>
    </inertial>
  </link>

  <joint name="lift_z_joint" type="prismatic">
    <parent link="mast_link"/>
    <child link="lift_shuttle_link"/>
    <origin xyz="-0.05 0 0.2" rpy="0 0 0"/>
    <axis xyz="0 0 1"/> <limit lower="0.0" upper="2.5" effort="500" velocity="0.6"/>
  </joint>

  <link name="lift_shuttle_link">

    <visual> <geometry> <mesh filename="lift_base/lift_base_back.dae"/> </geometry> </visual>
    <visual> <geometry> <mesh filename="lift_base/lift_base_middle.dae"/> </geometry> </visual>
    <visual> <geometry> <mesh filename="lift_base/lift_base_front.dae"/> </geometry> </visual>
    <visual> <geometry> <mesh filename="lift_base/lift_base_support_left.dae"/> </geometry> </visual>
    <visual> <geometry> <mesh filename="lift_base/lift_base_support_right.dae"/> </geometry> </visual>
    
    <collision> <geometry> <mesh filename="lift_base/lift_base_back.dae"/> </geometry> </collision>
    <collision> <geometry> <mesh filename="lift_base/lift_base_middle.dae"/> </geometry> </collision>
    <collision> <geometry> <mesh filename="lift_base/lift_base_front.dae"/> </geometry> </collision>
    <collision> <geometry> <mesh filename="lift_base/lift_base_support_left.dae"/> </geometry> </collision>
    <collision> <geometry> <mesh filename="lift_base/lift_base_support_right.dae"/> </geometry> </collision>
  
    <inertial>
      <mass value="1.0"/> 
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.2" ixy="0.0" ixz="0.0" iyy="0.2" iyz="0.0" izz="0.05"/>
    </inertial>
  </link>

  <joint name="lift_rotation_joint" type="revolute">
    <parent link="lift_shuttle_link"/>
    <child link="shuttle_rotator_link"/>
    <origin xyz="0.4 0 0.04" rpy="0 0 0"/> <axis xyz="0 0 1"/> <limit lower="-1.5708" upper="1.5708" effort="100" velocity="1.0"/> </joint>

  <link name="shuttle_rotator_link">
    
    <visual> <geometry> <mesh filename="lift_rotation/lift_rotation_base.dae"/> </geometry> </visual>
    <visual> <geometry> <mesh filename="lift_rotation/lift_rotation_left.dae"/> </geometry> </visual>
    <visual> <geometry> <mesh filename="lift_rotation/lift_rotation_right.dae"/> </geometry> </visual>
    <visual> <geometry> <mesh filename="lift_rotation/lift_rotation_front.dae"/> </geometry> </visual>
    <visual> <geometry> <mesh filename="lift_rotation/lift_rotation_leftrail_down.dae"/> </geometry> </visual>
    <visual> <geometry> <mesh filename="lift_rotation/lift_rotation_leftrail_up.dae"/> </geometry> </visual>
    <visual> <geometry> <mesh filename="lift_rotation/lift_rotation_rightrail_down.dae"/> </geometry> </visual>    
    <visual> <geometry> <mesh filename="lift_rotation/lift_rotation_rightrail_up.dae"/> </geometry> </visual>    

    <collision><geometry> <mesh filename="lift_rotation/lift_rotation_base.dae"/> </geometry> </collision>
    <collision><geometry> <mesh filename="lift_rotation/lift_rotation_left.dae"/> </geometry> </collision>
    <collision><geometry> <mesh filename="lift_rotation/lift_rotation_right.dae"/> </geometry> </collision>
    <collision><geometry> <mesh filename="lift_rotation/lift_rotation_front.dae"/> </geometry> </collision>
    <collision><geometry> <mesh filename="lift_rotation/lift_rotation_leftrail_down.dae"/> </geometry> </collision>
    <collision><geometry> <mesh filename="lift_rotation/lift_rotation_leftrail_up.dae"/> </geometry> </collision>
    <collision><geometry> <mesh filename="lift_rotation/lift_rotation_rightrail_down.dae"/> </geometry> </collision>
    <collision><geometry> <mesh filename="lift_rotation/lift_rotation_rightrail_up.dae"/> </geometry> </collision>

    <inertial>
      <mass value="1.0"/> 
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.2" ixy="0.0" ixz="0.0" iyy="0.2" iyz="0.0" izz="0.05"/>
    </inertial>

  </link>

  <joint name="fork_extension_joint" type="prismatic">
    <parent link="shuttle_rotator_link"/>
    <child link="fork_arm_link"/>
    <origin xyz="0.3 0 0.1" rpy="0 0 0"/> <axis xyz="-1 0 0"/> <limit lower="0.0" upper="1.2" effort="150" velocity="0.5"/> </joint>

  <link name="fork_arm_link">
    
    <visual><geometry> <mesh filename="lift_arm/lift_arm_front.dae"/> </geometry> </visual>
    <visual><geometry> <mesh filename="lift_arm/lift_arm_left.dae"/> </geometry> </visual>
    <visual><geometry> <mesh filename="lift_arm/lift_arm_right.dae"/> </geometry> </visual>    

    <collision><geometry> <mesh filename="lift_arm/lift_arm_front.dae"/> </geometry> </collision>
    <collision><geometry> <mesh filename="lift_arm/lift_arm_left.dae"/> </geometry> </collision>
    <collision><geometry> <mesh filename="lift_arm/lift_arm_right.dae"/> </geometry> </collision>
    
    <inertial>
      <mass value="1.0"/> 
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.2" ixy="0.0" ixz="0.0" iyy="0.2" iyz="0.0" izz="0.05"/>
    </inertial>
  </link>

  <joint name="left_claw_joint" type="revolute">
    <parent link="fork_arm_link"/>
    <child link="left_claw_link"/>
    <origin xyz="-0.68 -0.25 0" rpy="0.7854 0 0"/> <axis xyz="1 0 0"/> <limit lower="-0.8" upper="0.8" effort="50" velocity="0.1"/> </joint>

  <link name="left_claw_link">
    <visual>
      <geometry> <mesh filename="lift_claw_l.dae"/> </geometry>
    </visual>
    <collision><geometry> <mesh filename="lift_claw_l.dae"/> </geometry> </collision>
  </link>

  <joint name="right_claw_joint" type="revolute">
    <parent link="fork_arm_link"/>
    <child link="right_claw_link"/>
    <origin xyz="-0.68 0.25 0" rpy="-0.7854 0 0"/> <axis xyz="-1 0 0"/> <limit lower="-0.8" upper="0.8" effort="50" velocity="0.1"/> </joint>

  <link name="right_claw_link">
    <visual>
      <geometry> <mesh filename="lift_claw_r.dae"/> </geometry>
    </visual>
    <collision><geometry> <mesh filename="lift_claw_r.dae"/> </geometry> </collision>
  </link>
 
</robot>