<?xml version="1.0"?>
<robot name="low_amr">

  <link name="base_footprint"/>

  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="base_link">
    <visual>
      <geometry> <box size="0.1 0.1 0.1"/> </geometry>
    </visual>
    <collision>
      <geometry> <box size="0.1 0.1 0.1"/> </geometry>
    </collision>
    <inertial>
      <mass value="100.0"/>
      <inertia ixx="5.0" ixy="0.0" ixz="0.0" iyy="5.0" iyz="0.0" izz="5.0"/>
    </inertial>
  </link>

  <joint name="left_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="left_wheel_link"/>
    <origin xyz="0 -0.4 -0.101" rpy="0 0 0"/> <axis xyz="0 1 0"/> </joint>
  <link name="left_wheel_link">
    <visual>
      <geometry> <mesh filename="wheel.dae"/> </geometry>
    </visual>
    <collision>
      <geometry> <mesh filename="wheel.dae"/> </geometry>
    </collision>
  </link>

  <joint name="right_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="right_wheel_link"/>
    <origin xyz="0 0.4 -0.101" rpy="0 0 0"/> <axis xyz="0 1 0"/>
  </joint>
  <link name="right_wheel_link">
    <visual>
      <geometry> <mesh filename="wheel.dae"/> </geometry>
    </visual>
    <collision>
      <geometry> <mesh filename="wheel.dae"/> </geometry>
    </collision>
  </link>

  <joint name="cast_wheel_joint1" type="fixed">
    <parent link="base_link"/>
    <child link="cast_wheel_link1"/>
    <origin xyz="0.5 0.4 -0.2" rpy="0 0 0"/>
  </joint>
  <link name="cast_wheel_link1">
    <visual>
      <geometry> <mesh filename="cast_wheel.dae"/> </geometry>
    </visual>
    <collision>
      <geometry> <mesh filename="cast_wheel.dae"/> </geometry>
    </collision>
  </link>

  <joint name="cast_wheel_joint2" type="fixed">
    <parent link="base_link"/>
    <child link="cast_wheel_link2"/>
    <origin xyz="-0.5 0.4 -0.2" rpy="0 0 0"/>
  </joint>
  <link name="cast_wheel_link2">
    <visual>
      <geometry> <mesh filename="cast_wheel.dae"/> </geometry>
    </visual>
    <collision>
      <geometry> <mesh filename="cast_wheel.dae"/> </geometry>
    </collision>
  </link>

  <joint name="cast_wheel_joint3" type="fixed">
    <parent link="base_link"/>
    <child link="cast_wheel_link3"/>
    <origin xyz="0.5 -0.4 -0.2" rpy="0 0 0"/>
  </joint>
  <link name="cast_wheel_link3">
    <visual>
      <geometry> <mesh filename="cast_wheel.dae"/> </geometry>
    </visual>
    <collision>
      <geometry> <mesh filename="cast_wheel.dae"/> </geometry>
    </collision>
  </link>

  <joint name="cast_wheel_joint4" type="fixed">
    <parent link="base_link"/>
    <child link="cast_wheel_link4"/>
    <origin xyz="-0.5 -0.4 -0.2" rpy="0 0 0"/>
  </joint>
  <link name="cast_wheel_link4">
    <visual>
      <geometry> <mesh filename="cast_wheel.dae"/> </geometry>
    </visual>
    <collision>
      <geometry> <mesh filename="cast_wheel.dae"/> </geometry>
    </collision>
  </link>

  <joint name="mast_joint" type="fixed">
    <parent link="base_link"/>
    <child link="mast_link"/>
    <origin xyz="0 0 0.08" rpy="0 0 0"/>
  </joint>
  
  <link name="mast_link">

    <visual> <geometry> <mesh filename="mast/mast_base_up.dae"/> </geometry> </visual>
    <visual> <geometry> <mesh filename="mast/mast_base_front.dae"/> </geometry> </visual>
    <visual> <geometry> <mesh filename="mast/mast_base_back.dae"/> </geometry> </visual>
    <visual> <geometry> <mesh filename="mast/mast_base_right.dae"/> </geometry> </visual>
    <visual> <geometry> <mesh filename="mast/mast_base_left.dae"/> </geometry> </visual>

    <collision> <geometry> <mesh filename="mast/mast_base_up.dae"/> </geometry> </collision>
    <collision> <geometry> <mesh filename="mast/mast_base_front.dae"/> </geometry> </collision>
    <collision> <geometry> <mesh filename="mast/mast_base_back.dae"/> </geometry> </collision>
    <collision> <geometry> <mesh filename="mast/mast_base_right.dae"/> </geometry> </collision>
    <collision> <geometry> <mesh filename="mast/mast_base_left.dae"/> </geometry> </collision>
  
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.2" ixy="0.0" ixz="0.0" iyy="0.2" iyz="0.0" izz="0.05"/>
    </inertial>
  </link>

</robot>